.containerApp {
    box-sizing: border-box !important;
    position: relative !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: none !important;
    padding-right: none !important;
    max-width: 1500px !important;
}
element.style {
    box-sizing: border-box;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1000px;
}
